%span{ :class => 'edit-in-place', 'ng-hide' => 'editing', 'ng-click' => 'edit()' } {{$parent[field]}}
%input{ 'ng-show' => 'editing', 'ng-model' => 'value' }
%a{ 'ng-show' => 'editing', 'ng-click' => 'save()' } save
%a{ 'ng-show' => 'editing', 'ng-click' => 'cancel()' } cancel
