.row-fluid
  .span7
    .hero-unit
      %h1 I want a design
      %p Browse through a vast amount of ready to use designs, create design competitions to find a suitable design, or contact a designer you like directly to have them make a custom design for you!
      %a.btn.btn-large.btn-primary Egg
  .span5
    .hero-unit
      %h1 Designers
      %p Upload your designs and start selling them straight away, enter competitions to win money and showcase your ability, and create a profile to let customers come to you!
%p testing scope {{application.locale}}
%p Pork loin beef ribs hamburger, short ribs tongue meatball ground round. Pork loin strip steak shankle tri-tip, beef t-bone beef ribs filet mignon turducken pork capicola. Beef flank swine shank, speck ground round kielbasa ham jowl andouille spare ribs pastrami shoulder. Spare ribs kielbasa flank, capicola salami meatloaf beef tongue. Short loin shankle meatloaf andouille.
%p Ground round pork loin biltong venison jerky. Flank salami pork chop chuck corned beef. Chuck pork belly frankfurter pancetta rump, tenderloin spare ribs shankle hamburger. Kielbasa ball tip chuck hamburger ribeye capicola. Short loin beef flank, strip steak filet mignon sirloin pork belly ham hock prosciutto andouille venison pork loin short ribs.
%p Turducken pig bacon bresaola. Pork loin pig pancetta tongue kielbasa ribeye, jowl bacon cow chuck beef filet mignon sirloin pork chop. Rump ham beef ribs ham hock, flank tongue tenderloin short loin drumstick spare ribs leberkas frankfurter. Spare ribs hamburger beef ribs andouille ham hock.
%p Corned beef shank jowl pig. Beef ribs tri-tip short loin, shoulder chuck salami boudin. Jerky ham meatball tongue brisket, leberkas jowl sirloin turducken flank capicola beef ribs chicken venison tenderloin. Shank ribeye filet mignon short ribs, t-bone rump pork chop speck pork pastrami pig ball tip strip steak.
%p Short loin meatball corned beef fatback shankle. Shankle pork belly ham hock pork loin beef. Kielbasa ham hock swine biltong, hamburger venison beef ribs pancetta sirloin cow. Swine jowl pancetta turducken beef, chicken sausage fatback. Beef ribs meatloaf short loin, venison short ribs hamburger capicola tail ground round chuck bacon.
%p Drumstick frankfurter shankle pork pancetta strip steak. Hamburger cow sirloin, ham swine pork chop salami short loin bresaola. Jowl bresaola boudin, tongue shank drumstick ball tip tenderloin corned beef chuck ham ground round. Tongue speck flank chicken. Jerky drumstick tenderloin pancetta bacon. Jerky sirloin pig shankle meatball t-bone. Fatback turducken venison pork loin prosciutto, cow brisket.
%p Ham chuck strip steak, short loin rump beef ribs sausage kielbasa. Beef pork chop swine, pancetta pastrami tail t-bone frankfurter. Shoulder turkey beef, spare ribs ham hock capicola corned beef chuck. Chicken sirloin shankle, pork tail prosciutto kielbasa. Swine tail tri-tip short loin filet mignon.
%p Bacon t-bone pork belly, ham hock tenderloin boudin meatball tongue filet mignon meatloaf brisket. Pork belly ground round ribeye strip steak shoulder frankfurter shankle, turkey jerky pig pork chop. Turkey pork chop chuck, shoulder sirloin venison short ribs pancetta brisket short loin turducken ground round meatball ham. Tri-tip cow spare ribs, pork belly meatball speck turkey capicola tongue rump filet mignon drumstick brisket strip steak. Swine short loin drumstick beef ribs bresaola salami. Jowl andouille meatball salami, pork belly fatback sausage. Spare ribs andouille turkey meatball bacon.