!!!
%html{ :class => 'ng-app:designWok', :id => 'ng-app', 'ng-app' => 'designWok', 'xmlns:ng' => 'http://angularjs.org', 'ng-controller' => 'ApplicationCtrl' }
  %head
    %title{ 'ng-bind-template' => 'Design Wok - {{pageTitle}}' } Design Wok
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    -# Header
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: '#' } DesignWok
          %ul.nav
            %li
              %a{ href: '#/discover' }
                .icon-eye-open.icon-white
                Discover designs
            %li
              %a{ href: '#/design' }
                .icon-shopping-cart.icon-white
                Sell designs
          %ul.nav.pull-right{ 'ng-hide' => 'isLoggedIn' }
            %li
              %a{ href: '#/account/register' } or register
          %form.navbar-form.pull-right{ 'ng-hide' => 'isLoggedIn', 'ng-submit' => 'logIn(authUser.email, authUser.password)' }
            %input.span2{ 'ng-model' => 'authUser.email', placeholder: 'email' }
            %input.span2{ 'ng-model' => 'authUser.password', type: 'password', placeholder: 'password' }
            %input{ :type => 'submit', :value => 'Sign in' }
          %ul.nav.pull-right{ 'ng-show' => 'isLoggedIn' }
            %li
              %a{ href: '#/account' } My account
            %li
              %a{ 'ng-click' => 'logOut()' } Sign out ({{username}})
    -# Body
    .container
      %div{ 'ng-view' => true }
    = javascript_include_tag 'application'
