!!!
%html{ :class => 'ng-app:designWok', :id => 'ng-app', 'ng-app' => 'designWok', 'xmlns:ng' => 'http://angularjs.org' }
  %head
    %title Design Wok
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    -# Header
    .navbar.navbar-fixed-top
      .navbar-inner
        .container{ 'ng-controller' => 'SessionCtrl' }
          %a.brand{ href: '#' } DesignWok
          %ul.nav
            %li
              %a{ href: '#/discover' }
                .icon-eye-open.icon-white
                Discover designs
            %li
              %a{ href: '#/design' }
                .icon-shopping-cart.icon-white
                Sell designs
          %ul.nav.pull-right{ 'ng-hide' => 'isLoggedIn' }
            %li
              %a{ href: '#/account/register' } or register
          %form.navbar-form.pull-right{ 'ng-hide' => 'isLoggedIn', 'ng-submit' => 'logIn(email, password)' }
            %input.span2{ 'ng-model' => 'email', placeholder: 'email' }
            %input.span2{ 'ng-model' => 'password', type: 'password', placeholder: 'password' }
            %input{ :type => 'submit', :value => 'Log in' }
          %ul.nav.pull-right{ 'ng-show' => 'isLoggedIn' }
            %li
              %a{ href: '#/account' } My account
            %li
              %a{ 'ng-click' => 'logOut()' } Log out ({{username}})
    -# Body
    .container
      %div{ 'ng-view' => true }
    = javascript_include_tag 'application'
