!!!
%html{'ng-app' => 'designPig', 'xmlns:ng' => 'http://angularjs.org'}
  %head
    %title Design Pig
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    %div#session{ 'ng-controller' => 'SessionCtrl' }
      %div
        %a{ 'ng-click' => 'test()' } Test ajax
      %div#session-session{ 'ng-show' => 'isLoggedIn' }
        Logged in as {{username}}
        %a{ 'ng-click' => 'logOut()' } Log out
      %div#session-login-register{ 'ng-hide' => 'isLoggedIn' }
        %form{ 'ng-submit' => 'logIn(email, password)' }
          %label{ :for => 'session-login-email' } Email
          %input#session-login-email{ 'ng-model' => 'email' }
          %label{ :for => 'session-login-password' } Password
          %input#session-login-password{ :type => 'password', 'ng-model' => 'password' }
          %input{ :type => 'submit', :value => 'Log in' }
    %ul
      %li
        %a{:href => '#/discover'} discover designers
      %li
        %a{:href => '#/design'} sell designs
    %div{'ng-view' => true}
    = javascript_include_tag 'application'