.loading-placeholder {
  &:before {
    content: 'loading...'
  }
}

.loading-placeholder-page {

}

.edit-in-place {
  display: inline block;
}

.edit-in-place span:hover {
  cursor: pointer;
  background-color: yellow;
}

body > .container {
  margin-top: 100px;
}

.register-page-header {
  margin-bottom: 40px;
}

.register-user-type {
  cursor: pointer;
}

.register-user-details {
  padding-top: 25px;
}