.loading-placeholder {
  &:before {
    content: 'loading...'
  }
}

.loading-placeholder-page {

}

.edit-in-place {
  display: inline block;
}

.edit-in-place span:hover {
  cursor: pointer;
  background-color: yellow;
}